<div class="row homepage">
    <div class="col-sm-4">
    <p>Dat do an, giao hang tu 20'</p>
    <p>Đặt Đồ ăn, giao hàng từ 20'...
Có 29569 Địa Điểm Ở TP. HCM Từ 00:00 - 03:00 | 05:30 - 23:59</p>

    <form action="" class="form-inline">
        <div class="form-group">
            <label for="inputPassword2" class="sr-only">Password</label>
             <div class="input-group mb-2">
                <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Username">
                <div class="input-group-prepend">
                <div class="input-group-text">Search</div>
                </div>
            </div>
        </div>
    </form>

    <div class="category-list-filter">
    <% for item in @food_categories %>
    <a href="javascript:;" class="btn btn-outline-secondary mr-2 my-2"><%= item %></a> 
    <% end %>
    
    </div>

    <p>Sử dụng App Now để có nhiều giảm giá 
và trải nghiệm tốt hơn</p>



    </div>
    <div class="col-sm-8">
        <div>Do an -> Chon dia chi giao hang</div>
        <div class="list-restaurant">
        
            <p>Uu dai <span class="pull-right">Xem tat ca</span></p>
            <div class="card-columns">
                <% for item in @restaurant_list %>
                    <div class="card">
                        <img src="<%= item[:image] %>" alt="" class="card-img-top">
                        <div class="card-body">
                        <h4 class="card-title"><%= item[:title] %></h4>
                        <p class="card-text"><%= item[:address] %></p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted"><span><i class="fa fa-tag" aria-hidden="true"></i></span>        Giam <%= item[:discount] %></small>
                        </div>
                    </div>
                <% end %>
                
            </div>

            <div class="text-center">
                <a href="" class="btn btn-link">View more <i class="fas fa-redo font12 "></i></a>
            </div>
        </div>

        <div class="list-restaurant">
        <div class="suggestion-menu d-flex justify-content-between">
           <nav class="navbar navbar-expand-lg navbar-light bg-light w-100">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                    <% if !@suggestion_menu.blank? %>
                    <% for item in @suggestion_menu %>
                        <li class="nav-item">
                            <a class="btn" href="#"><%= item %></a>
                        </li>
                    <% end %>
                    <% end %>
                    </ul>
                </div>
                 <form class="form-inline">
                    <select id="disabledSelect" class="form-control">
                        <option>Chon quan/huyen</option>
                        <option>Quan 1</option>
                        <option>Quan 2</option>
                        <option>Quan 3</option>
                        <option>Quan 4</option>
                        <option>Quan Phu Nhuan</option>
                        <option>Quan Binh Tan</option>
                        <option>Quan Binh Chanh</option>
                    </select>
                </form>
                </nav>
        </div>

            <ul class="list-unstyled">
            <% if !@suggestion_list.blank? %>
              <% for item in @suggestion_list %>                
                <li class="media my-4">
                    <%= image_tag item[:image], :class => 'rounded img-thumbnail img-restaurant mr-3' %>
                        <div class="media-body">
                            <h5 class="mt-0"><span class="icon icon-quality-merchant"></span> <b><%= item[:title] %></b></h5>
                            <div class="text-mute text-truncate">Dia chi: <%= item[:address] %> </div>
                            <div><small><span class="mr-4"><i class="fa fa-tags" aria-hidden="true"></i> Toi thieu  <%= item[:min_price] %></span> 
                            <span><i class="fa fa-money" aria-hidden="true"></i> Gia <%= item[:average_price] %></span> </small>  </div>
                            <small class="text-muted"><span><i class="fa fa-tag" aria-hidden="true"></i></span>        Giam <%= item[:discount] %></small>
                        </div>
                </li>
              <% end %>
            <% end %>
            
            </ul>

            <div class="text-center">
                <a href="" class="btn btn-link">View more <i class="fas fa-redo font12 "></i></a>
            </div>
        </div>

        
    </div>
</div>