<!DOCTYPE html>
<html>
  <head>
    <title>NowClone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="container">
    <div class="header"><nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Now</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Tp HCM
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Tp HCM</a>
          <a class="dropdown-item" href="#">Ha Noi</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Da Nang</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Đồ ăn</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">Đặt bàn</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">Thuc Pham</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">Ruou bia</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">Hoa</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">San pham</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">Thuoc'</a>
      </li>

    </ul>
    <form class="form-inline my-2 my-lg-0">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Dang nhap</button>
    </form>
  </div>
</nav>
</div>
    <%= yield %>
    <div class="footer">FOOTER</div>
  </div>
  
  </body>
</html>
